@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* GENERAL STYLES */
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: #232323;
}

.content {
    display: flex;
    width: auto;
    height: 100%;
    padding: 0 17%
}

.italics {
    font-style: italic;
}

/* IMAGE AND LOGO SECTION STYLES */
h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 5rem;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

p#photo-credit {
    width: 100%;
    padding: 4px 0px;
    margin: 0;
    text-align: center;
    color: #ffffff;
    background-color: rgba(50, 50, 50, 0.65);
    font-family:'Roboto Mono', monospace, Arial, Helvetica, sans-serif;
}

a.credit {
    color: #ffffff;
    font-weight: bold;
}


.image-section {
    width: 37%;
    background-image: url("images/background.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 100%;
    margin: 40% 0 auto 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(50, 50, 50, 0.65);
}

#logo-image {
    width: 50%;
    height: auto;
}

/* FORM SECTION STYLES */

.form-section {
    width: 67%;
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: #f9fafb;
    /* gap: 7.5rem; */
    font-family:Helvetica, monospace, Arial, sans-serif;
    box-sizing: border-box;
    /* padding: 3em; */
}

.first-block{
    color: #21222B;
    font-weight: bold;
    font-size: 1.25em;
    padding: 0 3rem;
}

.second-block {
    background-color: #ffffff;
    box-shadow: 0px 5px 5px -2px rgba(148,146,146,0.8);
    width: 100%;
    padding-left: 3em;
    box-sizing: border-box;
}

.third-block {
    margin-right: auto;
    color: #21222B;
    font-size: 1em;
    padding: 0 3em;
    margin-top: 1.5em;
}

#create-account {
    background-color: #776866;
}

label {
    margin: 0.2rem 0;
    display: block;
    font-size: 1.2rem;
}

input {
    border: 1px solid #E5E7EB;
    width: 15rem;
    border-radius: 8px;
    font-size: 1rem;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

legend {
    color: #21222B;
    font-weight: bold;
    font-size: 1.25em;
    padding: 0;
}

button {
    width: 300px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid #534746;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bold;
}

a#login {
    text-decoration: none;
    color: #776866;
    font-weight: bold;
    font-size: 1.1rem;
}

div>p {
    font-size: 1.2rem;
    font-style: bold;
}

input:hover{
    border: 1.5px solid #7a7a7a;
    box-shadow: 2px 2px 2px 0px rgba(148,146,146,0.8);
    transition: box-shadow 0.5s cubic-bezier(0.05,0,0,1);
}

button:focus {
    outline: 2px dotted rgb(51, 77, 80);
}

fieldset>div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 5rem;
}